<h1><%= @list.name %></h1>
<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li>
      <%= bookmark.movie.title %> - <%= bookmark.comment %>
      <%= link_to "Supprimer", bookmark_path(bookmark), method: :delete, data: { confirm: "Êtes-vous sûr?" } %>
    </li>
  <% end %>
</ul>

<h2>Ajouter un film à cette liste</h2>
<%= simple_form_for [@list, Bookmark.new] do |f| %>
  <%= f.association :movie, collection: Movie.all, label_method: :title, value_method: :id %>
  <%= f.input :comment %>
  <%= f.submit "Ajouter" %>
<% end %>

<%= link_to "Retour à la liste des listes", lists_path %>
